###### Requirements without Version Specifiers ######
sqlalchemy
cassandra-driver
xlrd
cryptography
PyMySQL
psutil
watchdog
openpyxl
pyodbc
treeinterpreter
matplotlib
unidecode
pgeocode
tensorflow
keras
torch
torchvision
torchaudio
pytorch-lightning
torchsummary
tqdm
cython
transformers
flatten-dict
spyder-kernels
tabulate
sql-metadata
captum
enlighten
tables
shap
scikit-learn
feather-format
 
###### Requirements with Version Specifiers ######
# scikit-learn == 1.0.2
# feather-format == 0.4.1
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1
# keyring >= 4.1.1            # Minimum version 4.1.1
# coverage != 3.5             # Version Exclusion. Anything except version 3.5
# Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*